:root {
    --main-color: #03738C;
    --light-color: #D99C79;
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter", serif;
    outline: none;
    color: var(--main-color);
}

body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, rgba(17, 174, 191, 0.90) 0%, rgba(3, 115, 140, 0.90) 100%), url(assets/traxer-Uzx6amdNZDk-unsplash.jpg) lightgray 50% / cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 50rem;
    border-radius: 4rem;
    background: rgba(217, 217, 217, 0.80);
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.09));
    overflow: hidden;
}

h1 {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7.5rem;
    background: #D99C79;
}

.content {
    width: 34.8rem;
    margin: 0 auto;
}

.convert-currency {
    display: flex;
    gap: 1rem;
    align-items: flex-end;
}

.convert-currency label,
.value {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.convert-currency label p {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    margin: 2rem 0 0.5rem;
}

.arrow {
    width: 2.8rem;
    height: 2.8rem;
    margin-bottom: 0.5rem;
}

select {
    height: 3.5rem;
    width: 15rem;
    border-radius: 1rem;
    border: 2px solid #03738C;
    font-weight: 600;
    padding-left: 1rem;
    cursor: pointer;
}

.value {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 2rem 0 0.5rem;
}

input {
    padding-left: 1.5rem;
    height: 3.5rem;
    width: 100%;
    border-radius: 1rem;
    border: 2px solid #03738C;
    font-weight: 600;
    text-align: center;
}

input::placeholder {
    opacity: 0.5;
    color: var(--main-color);
    font-weight: 700;
}

button {
    margin: 2rem 0;
    border-radius: 1rem;
    background: #D99C79;
    border: none;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 700;
    width: 100%;
    height: 3.8rem;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.footer {
    border-radius: 1rem;
    border: 2px solid #D99C79;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin-bottom: 2rem;
    gap: 1rem;
}

.currency {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.img-currency {
    width: 32px;
}

.currency-name, .currency-name-converted {
    font-size: 1.3rem;
    font-weight: 700;
}

.currency-value {
    font-size: 2rem;
    font-weight: 700;
}